@using BillingService.Domain.Templates.ViewModels
@using System.Globalization;
@model IEnumerable<PatientInvoiceViewModel>
@{
    var cultureinfo = new CultureInfo("en-us");
    cultureinfo.NumberFormat.CurrencyNegativePattern = 1;
    cultureinfo.NumberFormat.CurrencyGroupSeparator = string.Empty;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>

        body {
            font-family: Arial, sans-serif;
            font-size: 12px;
            color: #000;
        }

        .invoice-header {
            text-align: left;
            margin-bottom: 10px;
        }

            .invoice-header h1 {
                margin: 0;
                font-size: 28px;
                font-weight: bold;
            }

            .invoice-header p {
                margin: 0;
                font-size: 12px;
            }

        .client-details, .billing-details {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #87cefa;
            margin-bottom: 20px;
        }

            .client-details th, .billing-details th,
            .client-details td, .billing-details td {
                border: 1px solid #87cefa;
                text-align: left;
                padding: 8px;
            }

                .client-details td table {
                    border: none;
                    width: 100%;
                }

                    .client-details td table th, .client-details td table td {
                        border: none;
                        background-color: transparent;
                        padding: 4px 0;
                    }

            .client-details th, .client-details td {
                vertical-align: top;
                width: 50%;
            }

            .client-details th, .billing-details th {
                background-color: #e0e0e0;
            }

            .client-details .message, .billing-details .remarks {
                padding: 8px;
                color: red;
            }

            .billing-details td:nth-child(4),
            .billing-details td:nth-child(5),
            .billing-details td:nth-child(6),
            .billing-details td:nth-child(7),
            .billing-details td:nth-child(8) {
                text-align: right;
            }

        .invoice-page {
            page-break-after: always;
            margin: 20px;
        }

    </style>
</head>
<body>

    @foreach (var invoice in @Model)
    {
        <div class="invoice-page" style="page-break-after: always;">
            <div class="invoice-header">
                <h1>@invoice.BillingProviderInfo.Name</h1>
                <p>
                    @invoice.BillingProviderInfo.Address
                </p>
                <p>
                    Phone: @invoice.BillingProviderInfo.Phone
                </p>
            </div>
            <hr style="border: 1px solid #D3D3D3; margin-bottom: 20px;">
            <h2 style="text-align: left; font-size: 16px; font-family: Arial, sans-serif; margin-top: 0;">INVOICE # @invoice.InvoiceNumber</h2>
            <table class="client-details">
                <tr>
                    <th>Client Details</th>
                    <th>Invoice Details</th>
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <th>Client Name</th>
                                <td>@invoice.clientInfo.Name</td>
                            </tr>
                            <tr>
                                <th>Customer ID#</th>
                                <td>@invoice.clientInfo.CustomerID</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>
                                    <p>
                                        @invoice.clientInfo.Address<br />
                                        @invoice.clientInfo.City @invoice.clientInfo.Town<br />
                                        @invoice.clientInfo.State @invoice.clientInfo.ZipCode<br />
                                        @invoice.clientInfo.Country
                                    </p>
                                </td>
                            </tr>
                            @* <tr>
                        <th>Phone</th>
                        <td>@invoice.Phone</td>
                        </tr> *@
                        </table>
                    </td>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <th>Invoice Date</th>
                                <td>@invoice.InvoiceDate</td>
                            </tr>
                            <tr>
                                <th>Payment Due Date</th>
                                <td>@invoice.PaymentDue</td>
                            </tr>
                            <tr>
                                <th>Guarantor Name</th>
                                <td>@invoice.guarantorInfo.Name</td>
                            </tr>
                            <tr>
                                <th>Guarantor Contact</th>
                                <td>@invoice.guarantorInfo.Contact</td>
                            </tr>
                            <tr>
                                <th>Guarantor Address</th>
                                <td>@invoice.guarantorInfo.Address</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                @* <tr>
            <td colspan="2" class="message">
            <strong>Message:</strong> @invoice.Message
            </td>
            </tr> *@
            </table>
            <table class="billing-details">
                <tr>
                    <th>Billing Code</th>
                    <th>Units</th>
                    <th>Date Of Service</th>
                    <th>Billed Amount</th>
                    <th>Insurance Payments</th>
                    <th>Adjustments</th>
                    <th>Patient Responsibility</th>
                    <th>Patient Payments</th>
                    <th>Patient Balance</th>
                </tr>
                @foreach (var item in @invoice.BillingDetails)
                {
                    <tr>
                        <td>@item.BillingCode</td>
                        <td>@item.Units</td>
                        <td>@item.DateOfService</td>
                        <td>@item.BilledAmount.ToString("C", cultureinfo)</td>
                        <td>@item.InsurancePayments.ToString("C", cultureinfo)</td>
                        <td>@item.Adjustments.ToString("C", cultureinfo)</td>
                        <td>@(item.AdjustmentsPR?.ToString("C", cultureinfo) ?? "N/A")</td>
                        <td>@item.PatientPayments.ToString("C", cultureinfo)</td>
                        <td>@item.PatientBalance.ToString("C", cultureinfo)</td>
                    </tr>
                }
                <tr>
                    @*
                <td colspan="6" class="remarks">
                <strong>Remarks:</strong> @invoice.Remark
                </td>*@
                    <td colspan="8" style="text-align: right"><strong>Total:</strong></td>
                    <td style="text-align: right"><strong>@invoice.BillingDetails.Sum(b => b.PatientBalance).ToString("C", cultureinfo)</strong></td>
                </tr>
            </table>
        </div>
    }
</body>
</html>
